.root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px;
	gap: 5px;

	.pageItem {
		text-align: center;
		width: 40px;
		height: 40px;
		border: 1px solid #fe5f1e;
		padding: 10px;
		border-radius: 30px;
		cursor: pointer;

		&:hover {
			background-color: #fe5f1e;

			.pageLink {
				color: #fff;
			}
		}

		&.selected {
			background-color: #fe5f1e;

			.pageLink {
				color: #fff;
			}
		}

		&.disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	.pageLink {
		color: #fe5f1e;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
	}
}
